[user]
  name = Adam Krebs
  email = amk528@cs.nyu.edu
[core]
	editor = vim
  excludesfile = /home/adam/.gitignore
  autocrlf = false
  filemode = false
[github]
  user = akre54
  token = $GITHUB_TOKEN
[apply]
  whitespace = nowarn
[branch]
  autosetuprebase = always
  autosetupmerge = always
[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  st = status -sb
  amend = commit --amend
  ci = commit
  ca = commit -a -m
  cm = commit -m
  co = checkout
  d  = diff
  br = branch -a
  branches = branch -a
  pick = cherry-pick
  me = merge --no-ff
  grab = clone --depth 1
  standup = log --since yesterday --author amk528@cs.nyu.edu --oneline
  ignored = ls-files --others -i --exclude-standard

# Any GitHub repo with my username should be checked out r/w by default
# http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
[url "git@github.com:akre54/"]
  insteadOf = "git://github.com/akre54/"
[push]
	default = current
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
